header a img{
    width: 45%;
    display: inline-block;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    
}
header{
    background-color: black;
    max-width: 100%;
    height: 80px;
    display : flex;
flex-direction : row;
justify-content : space-between;
align-items : center;
    }
    *{
        margin: 0px;
        padding: 0px;
    }
a{
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16p;
}
header .d1 {
    display : flex;
flex-direction : row;
justify-content : space-between;
align-items : center;

}

 header .d1 li{
    display : flex;
flex-direction : row;
align-items : center;
padding: 28px 17px;
display: inline-block;
 font-weight: 700;
}
header .d1 li a{
    list-style: none;
    text-decoration: none;
    color: white;

}
.d1 li a:hover{
    color: green;
    
}
section{
    width: 100%;
    height: 430px;
    background-color: rgba(234, 156, 156, 0.56);
    
}
section ul{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.section1{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.head1{
    font-weight: 400;
    font-size: 25px;
    padding-left: 130px;
    padding-top: 40px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
}
.span1{
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
}
.img1{
    width: 570px;
    padding-top: 25px;
    padding-right: 120px;
    
}
.ul1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:baseline;
    list-style: none;
    padding-top: 50px;
    
}
.ul1 li a{
    text-decoration: none;

}
.a1{
    background-color: black;
    border-radius: 50px;
    color: aliceblue;
    }
    .a2{
        border: 1px solid black;
        color: rgb(10, 11, 12);
        border-radius: 50px;
    }
    .span2{
        font-size: 12px;
        padding-left: 120px;
        padding-bottom: 100px;
    }
    .span2 a{
        
        color: black;
    }
    .a2:hover{
        background-color: white;
    }
   .q1{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    list-style: none;
    padding-top: 100px;

   }
   #h23{
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 40px;
    font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
   }
   #p23{
    font-weight: 700;
    font-size: 20px;
    font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
   }
   #img-log{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-top: 50px;
    gap: 20px;
   }
.section13{
    background-color: aliceblue;
}
#section2-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    font-weight: 700;
    font-size: 50px;
}
.image-ul1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding-top: 20px;
}
#r3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 40px; 
    font-weight: 700;
    font-size: 50px;
}
.ar1{
    display: inline-block;
    border: 1px solid black;
    padding-left: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.
